img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 60%;
    height: auto;
  }
@media only screen and (max-width: 1000px) {
  img[src$='#center'] {
    max-width: 100%;
  }
}
