<article class="post-card post"> 
    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
              <h2 class="post-card-title">{{.Title}}</h2>
          </header>
      </a>
      <section class="post-card-excerpt" style="padding: 0 25px;">
          {{ .Content }}
      </section>

      <footer class="post-card-meta">
          <div>
            {{if .Page.Params.countries }}{{ range $index, $country := .Page.Params.countries }}
            <span><a href="/countries/{{ $country | urlize }}/">{{$country}}</a>&nbsp;</span> {{end}}
            {{ end }}
          </div>
          <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
          <span class="post-card-author"><a href="/about">{{.Params.author | default .Site.Params.author}}</a></span>
      </footer>
    </div>
</article>